@font-face {
    font-family: 'FuturaPT';
    src: url('~assets/fonts/FuturaPTMedium.woff2') format('woff2'),
    url('~assets/fonts/FuturaPTMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('~assets/fonts/FuturaPTDemi.woff2') format('woff2'),
    url('~assets/fonts/FuturaPTDemi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('~assets/fonts/FuturaPTBook.woff2') format('woff2'),
    url('~assets/fonts/FuturaPTBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('~assets/fonts/FuturaPTBold.woff2') format('woff2'),
    url('~assets/fonts/FuturaPTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
